on boot
    exec /sbin/sh /amonet-fixup.sh

    exec /sbin/sh /init-usb.sh

    exec /sbin/sh /init-eth.sh

on fs
    symlink /dev/block/platform/mtk-msdc.0 /dev/block/platform/soc
    symlink /dev/block/platform/mtk-msdc.0 /dev/block/bootdevice

# This is for preloader update
on property:amonet.preloader=rw
    write /sys/block/mmcblk0boot0/force_ro 0

on property:amonet.preloader=ro
    write /sys/block/mmcblk0boot0/force_ro 1

on property:network.eth0.ready=false
    stop dhcp

on property:network.eth0.ready=true
    start dhcp

service dhcp /sbin/udhcpc -f -i eth0
    seclabel u:r:recovery:s0
    disabled
